<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark top-0 start-0 position-sticky" style="width: 250px; height:100vh;">
  <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-6">Yalçın B2B</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto " style="font-size: 1rem;">

    <li class="nav-item mb-3 ">
      <a routerLink="/order" class="nav-link text-white sidemenu">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Siparişler
      </a>
    </li>
    <li class="nav-item mb-3">
      <a routerLink='/product' class="nav-link text-white sidemenu">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Ürünler
      </a>
    </li>
    <li class="nav-item mb-3">
      <a routerLink='/customer' class="nav-link text-white sidemenu">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Müşteriler
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a style="cursor: pointer;" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" >
      <span style="font-size: 1.5em;">{{username}}</span>
      <a *ngIf="!isAuth" class="btn text-white" (click)="logout()">Çıkış</a>
    </a>
  </div>
</div>


